h1, h4 {
    margin: 0.5rem 0.5rem;
    text-align: center;
}

.home-content {
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.home-page-button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.5rem;
}

.home-page-button-group button {
    position: relative;
    right: 0;
    background-color: #373e47;
    color: #bacddb;
    border-color: #bacddb;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.6rem;
    z-index: 3;
    min-width: 7rem;
    max-width: 7rem;

}

.home-page-button-group button:hover {
    background-color: #bacddb;
    color: #373e47;
    border-color: #373e47;
    cursor: pointer;
}
